<% layout ('layouts/boilerplate.ejs') %>
    <h1 class="text-center" style="margin-top: 15px">Create new campground</h1>

    <div class="row">
        <div class="col-6 offset-3">
            <form method="POST" action="/campground" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Title</label>
                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3"
                        name="title" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Location</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="location"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <label for="basic-url">Image URL</label>

                <div class="input-group mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                    </div>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="price"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>



    </div>